   .about_img {
   	width: 100%;
   	height: 70vh;
   }


    .nav-link:hover {
          color: #1977cc;
    }
		.carousel-item img{
        width: 100%;
        height: 70vh;
    }
    .carousel-caption {
      top: 30%;
    }
   a.navbar-brand img {
         width: 100%;
         height: 42px;
         }
         .footer_text img {
         	width: 100%;
         	height: 40px;
         }
    .card {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, 
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    .about_icon {          
            background: #fff;
            box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
            font-size: 20px;
            padding: 15px;
            margin-right: 15px;
            color: #106eea;
            border-radius: 50px;
    }
    .about_icon:hover {
            background-color: #1977cc;
            color: #fff;
    }
    ul {
            list-style-type: none;
            padding-left: 0px;
    }
    .count_icon {          
            background: #106eea;
            box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
            /*font-size: 25;*/
            padding: 10px;
            /*margin-right: 15px;*/
            color: #fff;
            border-radius: 50px;
    }
    .w-25 {
            width: 11%!important;
    }
    .services_card {
      padding: 80px 20px;
    }
    .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    }
    a {
      text-decoration: none;
    }
    .card_icon{
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: coral;
  box-shadow: 10px 10px lightblue;
  border-radius: 10%;
}
.services_card:hover {
            background-color: #1977cc;
            color: #fff;
    }
    .nav-tabs .nav-link {
      border: none;
    }
    .accordion-item {
      border: none;
    }
    .accordion {
      --bs-accordion-btn-icon-width: 16px;
    }
     .contact-icon{     
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
          .contact-icon:hover {
            background-color: #1977cc;
            color: #fff;
          }

@media only screen and (max-width:767px) {
.about_img {
  	 height: unset;
  	}
}
.about_img {
	padding: 10px 10px ;
}
.contact-icon i {
	font-size: 20px;
}
.icon-box i {
	font-size:30px;color:#1977cc;
}
.social_icon {
  padding: 13px;
  font-size: 16px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  inline-size: unset;
  border-radius: 50%;
}

.social_icon:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background: #125688;
  color: white;
}
.skype {
  background: #00aff0;
  color: white;
}
#footer ul i {
      padding-right: 2px;
    color: #1c84e3;
    /*font-size: 18px;*/
    line-height: 1;
}


@media (min-width: 768px) and (max-width: 991.98px) { 
.col-md-6 {
      flex: 0 0 auto;
    width: 50%;
}
 }
@media (min-width: 768px) and (max-width: 991.98px) {
.position-absolute{
  left: 53%;
} 
 }
